<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <script th:inline="javascript" type="text/javascript">

        window.compileScriptApiPath = [[${visualFlowProperties.compileScriptApiPath}]]; // 编译Groovy脚本的API路径
        window.executeWorkflowApiPath = [[${visualFlowProperties.executeWorkflowApiPath}]]; // 执行工作流的API路径
        window.debugWorkflowApiPath = [[${visualFlowProperties.debugWorkflowApiPath}]]; // 调试工作流的API路径
        window.createWorkflowApiPath = [[${visualFlowProperties.createWorkflowApiPath}]]; // 创建新工作流的API路径
        window.updateWorkflowApiPath = [[${visualFlowProperties.updateWorkflowApiPath}]]; // 更新工作流的API路径
        window.deleteWorkflowApiPath = [[${visualFlowProperties.deleteWorkflowApiPath}]]; // 删除工作流的API路径
        window.listWorkflowsApiPath = [[${visualFlowProperties.listWorkflowsApiPath}]]; // 列出所有工作流的API路径
        window.getWorkflowMetadataApiPath = [[${visualFlowProperties.getWorkflowMetadataApiPath}]]; // 获取工作流元数据的API路径


    </script>
    <title>visual-flow-engine</title>
    <script type="module" crossorigin th:src="${visualFlowProperties.getResourcePath('/assets/index-klCsc7b4.js')}"></script>
    <link rel="modulepreload" crossorigin th:href="${visualFlowProperties.getResourcePath('/assets/antd-es-OS8ymY5o.js')}">
    <link rel="modulepreload" crossorigin th:href="${visualFlowProperties.getResourcePath('/assets/monaco-JC-Olkkl.js')}">
    <link rel="stylesheet" crossorigin th:href="${visualFlowProperties.getResourcePath('/assets/monaco-_aMo4KT6.css')}">
    <link rel="stylesheet" crossorigin th:href="${visualFlowProperties.getResourcePath('/assets/index-dIHCunrD.css')}">
</head>
<body>
<div id="root"></div>

</body>
</html>
