<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" th:inline="javascript">

        window.compileScriptApiPath = [[${visualFlowProperties.compileScriptApiPath}]];
        window.createWorkflowApiPath = [[${visualFlowProperties.createWorkflowApiPath}]];
        window.deleteWorkflowApiPath = [[${visualFlowProperties.deleteWorkflowApiPath}]];
        window.updateWorkflowApiPath = [[${visualFlowProperties.updateWorkflowApiPath}]];
        window.listWorkflowsApiPath = [[${visualFlowProperties.listWorkflowsApiPath}]];
        window.runGroovyScriptApiPath = [[${visualFlowProperties.runGroovyScriptApiPath}]];
        window.getWorkflowMetadataApiPath = [[${visualFlowProperties.getWorkflowMetadataApiPath}]];


    </script>
    <title>manage-man</title>
    <script type="module" crossorigin th:src="${visualFlowProperties.getResourcePath('/assets/index-F84a18cW.js')}"></script>
    <link rel="stylesheet" crossorigin th:href="${visualFlowProperties.getResourcePath('/assets/index-ppPzyoWL.css')}">
</head>
<body>
<div id="root"></div>

</body>
</html>
